.navbar__container {
    width: 100%;
    background: var(--color-content);
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    padding: 0.25rem 3rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 3px var(--color-text--light);
    // border-radius: 0.5rem;
    // margin: 0.35rem 0.5%;
    // box-shadow: 0px 1px 3px var(--color-text--light);

    .language__label {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    .navbar__options {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: fit-content;

        .user {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
            
            .user__img--box {
                height: 2rem;
                width: 2rem;

                .user__img {
                    width: 100%;
                    height: 100%;
                    background: red;
                    border-radius: 10rem;
                }
            }
        }
    }
}
