@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-sidebar: #2E2F41;
  --color-sidebar--text: #FFFFFF;
  --color-content: #FFFFFF;
  --color-background: #F0F2F6;
  --color-text--light: #90a4ae;
  --color-text: #000000;

	--transition: all 400ms ease;
  
  --border-redius: 0.5rem;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
  line-height: 1.7;
  background-size: 100vw 100vh;
  transition: 0.5s;

  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-sidebar);
    border-radius: 10px;
  }
}

main {
  width: 100%;
  margin: 3rem;
  border-radius: var(--border-redius);
}

section > h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}